
<h1 mat-dialog-title>Add Batman Content</h1>
<mat-dialog-content>
  <form (ngSubmit)="submitNewContent()">
    <mat-form-field appearance="fill">
      <input matInput placeholder="ID" name="id" [(ngModel)]="newContent.id" disabled>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Title" name="title" [(ngModel)]="newContent.title" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Description" name="description" [(ngModel)]="newContent.description" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Creator" name="creator" [(ngModel)]="newContent.creator" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Image URL" name="imgURL" [(ngModel)]="newContent.imgURL">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Type" name="type" [(ngModel)]="newContent.type">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Tags" name="tags" [(ngModel)]="newContent.tags">
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Create</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
