<!-- Keep for tests <p>content-list works!</p> -->

<div class="search-container">
  <input type="text" [(ngModel)]="searchTitle" placeholder="Enter content title">
  <button (click)="searchContent()">Search</button>
  <p class="search-result" *ngIf="searchResult" [ngClass]="{'found': contentFound, 'not-found': !contentFound}">
    {{ searchResult }}
  </p>
</div>


<h1>All Content</h1>
<div class="card-container" *ngIf="contentItems">
  <div class="card" *ngFor="let contentItem of contentItems">
      <h3>{{ contentItem.title }}</h3>
      <img [src]="contentItem.imgURL" alt="{{ contentItem.title }}" (click)="displayContentDetails(contentItem)">
      <p><strong>Plot:</strong> {{ contentItem.description }}</p>
      <p><strong>Creator:</strong> {{ contentItem.creator }}</p>
      <p><strong>Type:</strong> {{ contentItem.type }}</p>
      <p><strong>Tags:</strong> {{ contentItem.tags ? contentItem.tags.join(', ') : '' }}</p>
    </div>
</div>

<h1>Movies</h1>
<div class="card-container" *ngIf="contentItems">
  <div class="card-movie" *ngFor="let contentItem of contentItems | contentTypeFilter:'movie'">
      <h3>{{ contentItem.title }}</h3>
      <img [src]="contentItem.imgURL" alt="{{ contentItem.title }}" (click)="displayContentDetails(contentItem)">
      <p><strong>Plot:</strong> {{ contentItem.description }}</p>
      <p><strong>Creator:</strong> {{ contentItem.creator }}</p>
      <p><strong>Type:</strong> {{ contentItem.type }}</p>
      <p><strong>Tags:</strong> {{ contentItem.tags ? contentItem.tags.join(', ') : '' }}</p>
    </div>
</div>

<h1>Animated Series</h1>
<div class="card-container" *ngIf="contentItems">
  <div class="card-series" *ngFor="let contentItem of contentItems | contentTypeFilter:'animated series'">
      <h3>{{ contentItem.title }}</h3>
      <img [src]="contentItem.imgURL" alt="{{ contentItem.title }}" (click)="displayContentDetails(contentItem)">
      <p><strong>Plot:</strong> {{ contentItem.description }}</p>
      <p><strong>Creator:</strong> {{ contentItem.creator }}</p>
      <p><strong>Type:</strong> {{ contentItem.type }}</p>
      <p><strong>Tags:</strong> {{ contentItem.tags ? contentItem.tags.join(', ') : '' }}</p>
    </div>
</div>



